
* { 
    margin:0; 
    padding:0
} 



#cityInfo p { 
    margin: 20px 20px 0px 15px
} 


h1 { 
    font-weight: bold;  
} 

h3 { 
    font-weight: bold
}

.search-box { 
    width: 90%; 
    background-color: var(--tertiary); 
    color: white; 
    border-radius: 4px;  
    padding: 8px; 
    margin: 8px; 
    margin-left: 0; 
    margin-right: 0;
}   



.layout { 
    width: 90%; 
    background-color: var(--secondary); 
    color: black; 
    border-radius: 4px;  
    padding: 8px; 
    margin: 8px; 
    margin-left: 0; 
    margin-right: 0;
}  

.formDesign { 
    width: 83.5%; 
    background-color: white; 
    color: black; 
    border-radius: 4px;  
    padding: 10px; 
    margin: 8px; 
    margin-left: 0; 
    margin-right: 0;
    font-size: large;
} 


.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  } 

  .flex-row {
    display: flex;
    flex-wrap: wrap;
  } 



  .itemscenter { 
    align-items: center;
} 

 
.space-around {
    justify-content: space-around;
  } 

  .space-between {
    justify-content: space-between;
  }   
  
    .justify-left {
        justify-content: left;
    }

  .space-evenly { 
      justify-content: space-evenly;
  } 



.marginLeft { 
      margin: 16px 0;
      margin-left: 15px; 
      margin-top: 0;
  }
  
  .UV-green { 
      background-color: green; 
      border-radius: 8px;  
      color: white; 
      padding: 4px 8px 4px 8px;
  } 

  .UV-yellow{ 
    background-color: yellow; 
    border-radius: 8px;  
    color: black; 
    padding: 4px 8px 4px 8px;
} 

.UV-red { 
    background-color: red; 
    border-radius: 8px;  
    color: white; 
    padding: 4px 8px 4px 8px;
}


.cityDetails {
    flex: 0 0 calc(100% * 8 / 12 - 3%);
  } 


.weekforecast { 
    
    height: 120px; 
    padding: 8px; 
    color: white; 
    padding-right: 24px; 
    width: 100px;
} 

.cityBox {
    flex: 0 0 calc(100% * 4 / 12 - 3%);
    margin-top: 25px; 
    height: auto; 
    padding-bottom: 20px;
  } 

.infoLayout1 { 
    
    margin-top: 25px; 
    height: 200px; 
    padding-bottom: 20px; 
}  



.spread { 
    width: 100%; 
}


.line { 
    visibility: hidden;
    width: 89%; 
}